networks:
  recipe-network:
    name: recipe-network
    external: true

services:
  app:
    build:
      context: app
    ports:
      - "8000:8000"
    volumes:
      - shared_data:/data
    environment:
      DATABASE_URL: &db_url "sqlite:////data/recipes.db"
    networks:
      - recipe-network
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/health')"]
      interval: 10s
      timeout: 10s
      retries: 5

  app_tests:
    build: app_tests
    environment:
      API_BASE_URL: "http://app:8000"
    command: pytest tests/ -v
    depends_on:
      app:
        condition: service_healthy
    networks:
      - recipe-network

  ingest:
    build:
      context: ingest
    volumes:
      - shared_data:/data
    environment:
      DATABASE_URL: *db_url
      #DESTINATION__DUCKDB__BUCKET_URL: "duckdb:////data/warehouse.duckdb"
    depends_on:
      app:
        condition: service_healthy
    networks:
      - recipe-network

  transform:
    build:
      context: transform
    depends_on:
      ingest:
        condition: service_completed_successfully
    networks:
      - recipe-network

  integration_tests:
    build:
      context: transform
    depends_on:
      app_tests:
        condition: service_completed_successfully
      ingest:
        condition: service_completed_successfully
      transform:
        condition: service_completed_successfully
    networks:
      - recipe-network

volumes:
  shared_data:
    driver: local
